    <div class="container">
        <div class="title-box">
            <h2 class="title-text">CHOIX AGENCE</h2>
        </div>
        <h4>Choisir l'agence de votre CHOIX </h4>

        <form action="#">
            <div class="champ-double">
                <div class="champ">
                    <label for="gouvernorat">Gouvernorat:</label>
                    <select id="gouvernorat" name="gouvernorat">
                        <option value="" hidden selected>Choisir</option>
                        <option value="">TUNIS</option>
                        <option value="">Beja</option>
                        <option value="">Bizert </option>
                        <option value="">Gabes</option>
                        <option value="">Mourneg</option>
                        <option value="">Mahdia</option>

                        </select>
                </div>

                <div class="champ">
                    <label for="agence">Agence:</label>
                    <select id="agence" name="agence">
                        <option value="" hidden selected>Choisir</option>
                        <option value="">Agence centrale </option>
                        <option value="">Agence mohamed l 5</option>
                        <option value="">Agence khaznadar</option>
                        <option value="">Agence Mourneg</option>
                        </select>
                </div>
            </div>

           
                    <div class="container-map">
                        "<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2686.969323797614!2d10.182432855409546!3d36.8085611803741!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd3540c31c0ae7%3A0x2c208f7c24d8eae!2zU1RCIEJhbmsg2KfZhNi02LHZg9ipINin2YTYqtmI2YbYs9mK2Kkg2YTZhNio2YbZgw!5e1!3m2!1sen!2stn!4v1718021181481!5m2!1sen!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                      <div class="champ-type">
                        <label for="type_compte">Type de compte:</label>
                        <select id="type_compte" name="type_compte">
                            <option value="" hidden selected>Choisir</option>
                            <option value="">Compte Epargne avec carte </option>
                            <option value="">Compte Courant </option>
                            <option value="">Compte Epargne avec livrer  </option>
                            </select>
                    
            <!-- Cadre bleu pour le bouton "CONTINUER" -->
    <div class="button-box">
        <button type="submit" class="button-text" (click)="goto()">ENREGISTRER ET CONTINUER</button>
      </div>
   




