<div class="container">
    <div class="header">
        <h2>STB Everywhere</h2>
        <img src="../assets/images/bg/logo.png"  width="20" height="20"> 
       
    </div>
    <div class="main">
        <h2>Connexion</h2>
        <form action="login.php" method="post">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Mot de passe</label>
            <div class="password-container">
                <input type="password" id="code-securite-financier" class="code-securite">
                <i class="eye-icon" id="toggle-password"></i>
              </div>
            
        </form>
        <div class="button-box">
            <button type="submit" class="button-text" (click)="onSubmit()"> Se connecter </button>
          </div>
          
       
</div>



