.container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #c2c4c7;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(14, 14, 14, 0.1);
}

/* Nouveau style pour le cadre bleu du titre */
.title-box {
    background-color: #0a4496;
    border: 1px solid #282f85; /* Changement de la couleur du cadre en bleu foncé */
    border-radius: 50px;
    padding: 12px;
    margin-bottom: 20px;
    height: 50px; /* Hauteur fixe pour le cadre */
    display: flex; /* Utilisation de Flexbox pour centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
}

/* Nouveau style pour le texte du titre dans le cadre bleu */
.title-text {
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: large;
}

/* Style pour les groupes de champs de formulaire */
.form-group {
    margin-bottom: 5px;
}

/* Style pour les étiquettes */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Style pour les champs de saisie */
input[type="text"],
input[type="date"],
select {
    width: 200px; /* Largeur fixe */
    padding: 7px;
    border: 1px solid #ccc;
    border-radius:5px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(164, 138, 112, 0.7);
}

/* Style spécifique pour les boutons */
.button-text {
    background-color: #0a4496;
    color: white;
    padding: 12px 170px; /* Ajustement de la largeur du bouton */
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 50px;
    font-size: medium;
    white-space: nowrap; 
}


.button-text:hover {
    background-color: #123070;
}

/* Style spécifique pour les boutons radio */
.radio-group label {
    display: inline-block;
    margin-right: 190px;
    font-size: medium;
    font-weight: normal;
}

/* Style spécifique pour les groupes de nom et prénom */
.name-group {
    display: flex;
    justify-content: space-between;
}

.name-group div {
    //width: 80%;
     width: 200px;
}

/* Style spécifique pour le numéro de téléphone et l'adresse e-mail */
.tel-email-group {
    display: flex;
    justify-content: space-between;
}

.text-data-group input[type="text"],
.text-data-group input[type="data"] {
    width: 205px; /* Largeur fixe */
}

/* Style spécifique pour le pays de naissance et la date de naissance */
.birth-info-group {
    display: flex;
    justify-content: space-between;
}

.birth-info-group select,
.birth-info-group input[type="date"] {
    width: 200px; /* Largeur fixe */
}

/* Style spécifique pour les options de sélection */
select option {
    padding: 5px 10px;
}

/* Style pour le cadre bleu du bouton "CONTINUER" */
.button-box {
    text-align: center;
    margin-top: 20px;
}

/* Media query for smaller screens */
@media (max-width: 480px) {
    .flag-container {
        width: 20px;
        height: 15px;
    }
}
.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.card {
    width: 40%; /* Assurez-vous que la carte prend toute la largeur disponible */
    max-width:170px; /* Limitez la largeur maximale de la carte */
    background: #fff;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    color: #333;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    cursor: pointer;
    color: rgb(228, 228, 236);
    text-decoration: underline;
    display: inline-block;
    padding: 10px; /* Ajout de padding pour l'espacement */
    border: 3px solid #c2c4c7; /* Ajout d'une bordure */
    border-radius: 20px; /* Bordure arrondie */
    margin-top: 10px; /* Espacement supérieur */
    background-color: #5a49f0; /* Couleur de fond */
    text-align: center; /* Centrer le texte */
}

.image-upload {
    border: 1px solid #c2c4c7;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
}
.form-group birth-info-group{
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;


}
