<div class="container">
    <!-- Cadre bleu pour le titre -->
    <div class="title-box">
        <h2 class="title-text">Validation</h2>
    </div>
    <div id="validate" class="validate">
        
                <p>Saisissez votre code de sécurité reçu par SMS</p>
                
          
                <p>Code de sécurité</p>
                <input type="text" id="code-securite-financier" class="code-securite">
            </div>
            <div class="button-box">
                <button type="submit" class="button-text" (click)="onSubmit()">CONTINUER</button>
              </div>
            
            </div>
                 
         
