.container {
    width: 600px;
    margin: 10 auto;
    padding: 30px;
    border: 1px solid #c2c4c7;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(14, 14, 14, 0.1);
}

/* Nouveau style pour le cadre bleu du titre */

form-group {
    margin-bottom: 25px;
}
.button-text {
    background-color: #0a4496;
    color: white;
    padding: 12px 230px; /* Ajustement de la largeur du bouton */
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 50px;
}
.button-text:hover {
    background-color: #123070;
}
.button-box {
    text-align: center;
    margin-top: 30px;
}
@media (max-width: 480px) {
    .flag-container {
        width: 20px;
        height: 15px;
    }
}

 /* Style pour la ligne horizontale */
.hr {
    border-top: 200px solid #ccc; /* Exemple de style */
    margin: 20px ; /* Ajouter de l'espace en haut et en bas de la ligne */
}

 /* Style pour la ligne horizontale */
.confirm-password::before {
    content: "";
    display: block;
    width: 100%; /* Ajustez la largeur selon vos besoins */
    height: 10px; /* Ajustez la hauteur pour l'épaisseur de la ligne */
    background-color: #ccc; /* Ajustez la couleur */
    margin-bottom: 100px; /* Ajoutez de l'espace après la ligne */
}

.title-box {
    background-color: #0a4496;
    border: 1px solid #282f85; /* Changement de la couleur du cadre en bleu foncé */
    border-radius: 50px;
    padding: 12px;
    margin-bottom: 20px;
    height: 50px; /* Hauteur fixe pour le cadre */
    display: flex; /* Utilisation de Flexbox pour centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
}
.title-text {
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: large;
}