<div class="container">

    <div id="validate" class="validate">
      <div class="title-box">
        <h3 class="title-text">Je crée mon mot de passe</h3>
    </div>
  
      <p>Veuillez créer votre mot de passe </p>
      <div class="password-container">
        <input type="password" id="code-securite-financier" class="code-securite">
        <i class="eye-icon" id="toggle-password"></i>
      </div>
  
      <p>Veuillez confirmer votre mot de passe </p>
      <div class="password-container">
        <input type="password" id="code-securite-financier" class="code-securite">
        <i class="eye-icon" id="toggle-password"></i>
      </div>
    <hr> 
    </div>
  
    <div class="button-box">
      <button type="submit" class="button-text" (click)="onSubmit()"> VALIDER </button>
    </div>
    
 