<div class="container">
    <div class="title-box">
      <h2 class="title-text">Informations complémentaires</h2>
    </div>
    <form action="#">
      <div class="form-group">
        <div class="name-group">
          <div>
            <label for="nationalite">Nationalité principale :</label>
            <select id="nationalite" name="nationalite">
              <option  disabled selected>Choisir</option>
              <option value="1">Tunisienne </option>
          <option value="2">Americaine</option>
          <option value="3">Algerienne </option>
            </select>
          </div>
          <div>
            <label for="nationalite">Autre nationalité :</label>
            <select id="nationalite" name="nationalite">
              <option  disabled selected>Choisir</option>
              <option value="1">Tunisienne </option>
          <option value="2">Americaine</option>
          <option value="3">Algerienne </option>
            </select>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label for="etat civil">Etat civil :</label>
        <select id="etat civil" name="etat_civil">
          <option  disabled selected>Choisir</option>
          <option value="1">Marier</option>
          <option value="2">Divorcer</option>
          <option value="3">Célibataire </option>
        </select>
      </div>
     
      
  
      <div class="button-box">
        <button type="submit" class="button-text" (click)="goto()">ENREGISTRER ET CONTINUER</button>
      </div>
    
    </form>

  